# Validation against Dake, The Practice of Reservoir Engineering, section 2.7

![Fig 2.20](dake_fig2_20_AB.png)

![Fig 2.21](dake_fig2_21_C.png)
